body {
    border: 1px solid black;
    margin: 20% 20%;
    padding: 2px
}

h4 {
    text-align: center;
    margin: auto;
}

button {
    color: white;
    background: black;
}

.container
{
    display: grid;

}

.container2 {
    background: red;

}


.p2 {
    font-size: 50px;
    color: white;
    text-align: center;
}

.p1 {

    text-align: center;
    color: pink;
    font-size: 25px;
}


.p3 {

    text-align: center;
    color: pink;
    font-size: 25px;

}


footer
{
    font-size: 10px;

}